In [2]:
# importing pandas as pd
import pandas as pd
  
# read an excel file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_excel("data/1867.103.XLS"))
  
# show the dataframe
df

,No. 103.—Number of Persons and Cattle killed in British India by Wild Beasts and Venomous Snakes during the 2 under-mentioned Calendar Years.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Presidencies and Provinces.,Calendar Years.,Number of Persons killed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Calendar Years.,Presidencies and Provinces.
1,NaN,NaN,By Elephants.,By Tigers.,By Leopards.,By Bears.,By Wolves.,By Hyenas.,By other Wild Beasts.,By Snakes.,...,By Tigers.,By Leopards.,By Bears.,By Wolves.,By Hyenas.,By other Wild Beasts.,By Snakes.,Total.,NaN,NaN
2,Bengal,1875,8,363,106*,27,160,8,"1,435†","8,807",...,"1,958","2,428║",93,876,886,"1,209",697,"8,147",1875,Bengal.
3,NaN,1876,9,439,67,52,185,27,662,"8,548",...,"2,516","1,694",28,900,773,"1,421","4,600","11,932",1876,NaN
4,Assam,1875,26,152,5,21,—,—,47,169,...,968,167,—,45,2,61,34,"1,278",1875,Assam.
5,NaN,1876,19,177,7,23,—,—,47,210,...,"1,940",428,—,150,—,16,7,"2,541",1876,NaN
6,N. W. Provinces,1875,3,40,14,12,721,56,252,"2,835",...,719,"3,693",201,"1,022",431,356,804,"7,229",1875,N. W. Provinces.
7,Do. and Oudh,1876,10,20,12,17,673,18,240,"3,693",...,"1,119","5,874",225,"1,814",627,"1,930",532,"12,122",1876,Do. and Oudh.
8,Oudh,1875,10,1,—,1,153,—,75,"1,496",...,46,—,—,397,6,104,45,599,1875,Oudh.
9,Punjab,1875,3,1,2,1,4,1,39,672,...,—,"2,366",126,431,2,127,106,"3,158",1875,Punjab.
10,NaN,1876,—,—,1,1,4,—,20,640,...,—,"2,760",87,"3,463",3,74,219,"6,606",1876,NaN
11,Central Provinces,1875,—,55,20,3,3,—,39,497,...,"1,612",909,15,239,168,192,401,"3,536",1875,Central Provinces.
12,NaN,1876,2,153,20,15,14,1,63,830,...,"2,166","1,338",13,271,54,350,174,"4,366",1876,NaN
13,Ajmere and Mhairwara,1875,—,—,—,—,—,2,1,32,...,7,59,—,52,—,2,—,120,1875,Ajmere and Mhairwara.
14,NaN,1876,—,1,—,—,—,—,4,32,...,16,230,—,220,—,1,1,468,1876,NaN
15,Berar**,1875,—,14,2,—,10,—,2,122,...,191,68,33,"1,045",89,529¶,400,"2,355",1875,Berar.**
16,NaN,1876,—,8,4,—,2,3,11,137,...,141,258,13,"1,402",92,55,259,"2,220",1876,NaN
17,Mysore** and Coorg,1875,1,7,1,2,—,—,3,112,...,943,"2,399",—,646,154,211,116,"4,469",1875,Mysore** and Coorg.
18,NaN,1876‡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1876‡,NaN
19,British Burma,1875,2,26,—,1,—,—,29,71,...,381,96,8,6,—,56,66,614,1875,British Burma.
20,NaN,1876,6,15,5,2,—,—,9,77,...,619,79,1,—,—,33,92,825,1876,NaN
21,Madras,1875,7,137,44,16,9,1,54,"1,268",...,"3,430","4,399",20,"2,873",340,582,290,"11,934",1875,Madras.
22,NaN,1876,5,83,33,10,—,—,31,819,...,"3,231","2,235",32,"3,681",445,370,327,"10,322",1876,NaN
23,Bombay,1875,1,32,10,—,1,—,39,989,...,"2,16??",514,33,"1,775",38,60,207,"4,795",1875,Bombay.
24,NaN,1876,1,27,7,3,9,—,47,960,...,"1,368",477,11,947,45,323,257,"3,428",1876,NaN
25,Total,1875,61,828,204*,84,"1,061",68,"2,015†","17,070",...,"12,423","17,098║",529,"9,407","2,116","3,489¶","3,166","48,234",1875,Total.
26,NaN,1876§,52,917,156,123,887,49,"1,143","15,946",...,"13,116","15,373",410,"12,848","2,039","4,573","6,468","54,830",1876§,NaN
27,* Including 17 persons killed by tigers and le...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,† Including 569 persons killed by wild animals...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,‡ No returns received.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,§ Exclusive of Mysore and Coorg.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,║ Including 941 cattle killed by tigers and le...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,¶ Including 488 cattle destroyed in the Buldan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,** Temporarily under British Administration.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN